<%- include("header") -%>

<h2>Todo List</h2>
<p>This app is a todo list. This project was built only to demonstrate how your backend code (Node, Express, and EJS) works to serve http requests made to the servers</p>

<%- include("footer") -%>
